<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>80's Retro Vibe Blog </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Epilogue&family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel= "stylesheet" href= '/static/style.css'>

</head>
<body>
    <div class = "container">
    <h1>80's Retro Vibe Blog</h1>
    <nav>
        <a href="#home">Home</a>
        <a href="#about">About</a>
        <a href="#contact">Contact</a>
    </nav>
   
    <div class="post"> 
        <img src="./assets/retro.jpg" class="myImage">
        <h2>Why Was The 80s So Fun?</h2>
        <p>If you grew up in the 80s then you know that it was just the best of times.<br> I grew up in the 80s and have so many memories that will last me<br> a lifetime.</p> 
        <a href="#" class="read-more">Read More</a>
        <h2>Will We Ever See Hairstyles of<br> The 80's Again?</h2>
        <p>The 80's was a time when people used their hair to express themselves.<br> Let's just say big hair was in, the more volume the better.<br> I mean women would spray their hair to create so much volume.</p> 
        <a href="#" class="read-more">Read More</a>   
    </div>
    </div>
</body>
</html>



